.masthead {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}

.language-nav {

	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	// border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav a:hover{
	text-decoration: underline;
}

.language-nav ul {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
}


.logo {
	max-width: 400px;
	margin-top: 10px;
}

// .logo:after {
//   content: "";
//   display: table;
//   clear: both;
// }

.masthead-links {

	font-family: $sans-serif;
	font-size: 11px;
	// margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links ul{
	display: flex;
	flex-direction: row;

}

.masthead-links li {

	margin-left: 10px;

}

.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {

	margin-right: 10px;
}

.masthead-links a:hover {
	text-decoration: underline;
}

.masthead-links i {
	margin-right: 5px;
	font-size: 10px;
}

.masthead-links strong {
	color: green;
}

h1 {
	font-family: georgia;
	font-size: 34px;
}

#degrees:hover, #stock:hover {
	color: $gray;
}
