<div class="masthead">
  <div class="language-nav">
    <ul>
      <li> <a href="https://www.w3schools.com/css/">CSS</a> </li>
      <li><a href="https://www.w3schools.com/css/">HTML</a></li>
      <li><a href="https://www.w3schools.com/css/">Javascript</a></li>
      <li><a href="https://www.w3schools.com/css/">Ruby</a></li>
    </ul>
  </div>
  <div class="logo">
    <img src="/assets/AA_Times_Logo.png" alt="App Academy Times">
  </div>

  <br>
  <div class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li>

      <li><i class="fa fa-newspaper-o"></i><a href="#">Today’s Paper</a></li>
      <li><i class="fa fa-video-camera"></i><a href="#">Video</a></li>
      <li id="degrees">77°F</li>
      <li id="stock">AAO <strong>+100%</strong></li>
    </ul>
  </div>


</div>
